@import "tailwindcss";

:root {
  --background: #f4f4f8;
  --surface: #ffffff;
  --text-main: #2a2c41;
  --primary: #ff724c;
  --secondary: #fdbf50;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-textMain: var(--text-main);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    @apply bg-background text-textMain;
  }

  body {
    @apply min-h-full bg-background text-textMain antialiased;
    font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  }
}
