fastapi
python-multipart
cloudinary
uvicorn[standard]
sqlalchemy
psycopg2-binary
numpy
faiss-cpu
email-validator
alembic
pydantic-settings
python-jose[cryptography]
bcrypt
sentence-transformers
langgraph
langchain-core
langchain-groq
resend
faker
stripe
requests>=2.31.0
google-auth>=2.29.0
